# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Python environment
venv/
env/
*.env

# Logs
*.log

# Model files
*.pkl
*.h5
*.joblib
*.dill

# Plots / images / temp files
*.png
*.jpg
*.jpeg
*.gif
*.svg

# Streamlit cache
.streamlit/

# Others
*.csv
