# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# Data files
*.csv
*.tsv

# Model files
*.pkl
*.h5
*.joblib
*.dill

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Python virtual environments
venv/
env/
